.revelar{
  opacity:0;
  transform: translateY(16px);
  transition: opacity .6s ease, transform .6s ease;
}
.revelar.visivel{
  opacity:1;
  transform: translateY(0);
}

@media (prefers-reduced-motion: reduce){
  *{
    animation-duration:.01ms !important;
    transition-duration:.01ms !important;
    scroll-behavior:auto !important;
  }
}
