@media(max-width:1024px){

.sidebar{

position:fixed;
top:0;
left:0;

width:100%;
height:auto;

flex-direction:row;

padding:14px 32px;

border-right:none;
border-bottom:1px solid var(--borda-azul);

z-index:100;

}


.pagina{

margin-left:0;
padding:0 40px;
width:100%;
overflow:hidden;

}


.hero{

flex-direction:column-reverse;

text-align:center;

}


.hero-foto img{

width:240px;
height:240px;

object-position:center;

}

}



@media(max-width:768px){


.menu{

z-index:150;

}


.menu-overlay{

z-index:140;

}


.hamburger-btn{

display:flex;

flex-shrink:0;

}



.pagina{

padding:0 20px;

}


.hero-foto img{

width:180px;
height:180px;

object-position:center;

}


}



@media(max-width:480px){


.pagina{

padding:0 16px;

}


.hero-texto h1{

font-size:1.75rem;

}


.hero-foto img{

width:150px;
height:150px;

}

}